/***************mobile*****************/
@media screen
and ( min-width: 411px )
and ( max-width: 500px ) {
.container {
  width: 400px;
}

#bmiresults {
  left: 9.2rem;
  width: 25%;
}

#bmiButton {
  font-size: 1.65rem;
  height: 5.5rem;
  margin-top: 2.9rem;
}
}

@media screen
and ( min-width: 361px )
and ( max-width: 410px ) {
.container {
  width: 360px;
}

#bmiresults {
  left: 8.3rem;
  width: 25%;
}

.heart {
  left: 7.2rem;
  top: 12rem;
}

.height-label {
  margin-left: 0.5rem;
}

#bmiButton {
  font-size: 1.5rem;
  height: 5rem;
  margin-top: 3.4rem;
}

.author {
  margin-top: 1rem;
}
}

@media screen
and ( max-width: 360px ) {
.container {
  width: 310px;
}

.bmi-results-info {
  font-size: 1.2rem;
}

/***************heart***************/
.heart {
  height: 7rem;
  left: 8.4rem;
  top: 11.8rem;
  width: 7rem;
}

.heart:before,
.heart:after {
  height: 7rem;
  left: 3.8rem;
  width: 7rem;
}

.heart:before {
  left: 0;
  top: -61px;
}

/***************results***************/
#bmiresults {
  font-size: 1.8rem;
  left: 4.8rem;
  top: -6.3rem;
  width: 49%;
}

.bmi-user-info {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#height-inches {
  margin-right: 0;
}

#bmiButton {
  font-size: 1.2rem;
  height: 5.5rem;
  margin-top: 2.9rem;
}

.author {
  font-size: 0.9rem;
}
}

@media screen
and ( max-width: 320px ) {
.container {
  height: 100%;
}

#bmiButton {
  height: 5rem;
}
}